/* font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: Lato;
}
.container {
    width: 90%;
    margin: 0 auto;
}
button {
    background-color: #24a7ff;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    color : #fff;
    margin-top: 2vw;
}
img {
    width: 90%;
}
p {
    color: gray;
}
h2 {
    font-size: 4vw;
}

/* nav area css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 0;
}
.logo-area img {
    width: 8vw;
}
.menu-area a {
    text-decoration: none;
    margin: 0 15px;
    color: gray;
}
.register-btn {
    background: transparent;
    padding: 10px 25px;
    border: 2px solid #24a7ff;
    border-radius: 10px;
    color: #24a7ff!important;
    font-weight: bold;
}
/* intro-area css */
.intro-area {
    display: flex;
    justify-content: space-between;
    padding: 10vh 0;
}
.intro-content {
    width: 50%;
}
/* Quality area css */
.quality-area {
    display: flex;
    padding: 10vh 0;
}
.quality-content {
    width: 50%;
}
.quality-content h2 {
    font-size: 3.5vw;
}
/* Technical Support Area CSS */
.technical-support-area {
    display: flex;
    padding: 10vh 0;
}
.technical-content {
    width: 50%;
}
.technical-img {
    width: 50%;
}
.technical-content h2 {
    font-size: 3.5vw;
}
/* Services Area */
.services-area {
    padding: 10vh 0;
}
.services-title {
    display: flex;
    align-items: center;
}
.title-details {
    width: 50%;
}
.services-title h2 {
    font-size: 3.5vw;
}
.services-content {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}
.single-services-content {
    padding: 5vh 2vh;
}
.single-services-content img {
    width: 5vw;
}