/* font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* universal CSS */
body{
    margin: 0;
    padding: 0;
    font-family: Lato;
}
.container {
    width: 90%;
    margin: 0 auto;
}
button {
    background-color: #24a7ff;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    color : #fff;
    margin-top: 2vw;
    cursor: pointer;
}
button:hover {
    background-color: #fff;
    color: #24a7ff;
    border: 2px solid #24a7ff;
}

img {
    width: 90%;
}
p {
    color: gray;
    font-size: 1.2rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
}
a {
    font-size: 1rem;
}

/* nav area css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 0;
}
.logo-area img {
    width: 8vw;
}
.menu-area li {
    list-style-type: none;
    display: inline-block;
    margin: 2vw 0;
}
.menu-area a {
    text-decoration: none;
    margin: 0 15px;
    color: gray;
}
.menu-area a:hover {
    color: black;
}
.register-btn {
    background: transparent;
    padding: 1vw 3vw;
    border: 2px solid #24a7ff;
    border-radius: 10px;
    color: #24a7ff!important;
    font-weight: bold;
}
.register-btn:hover {
    background-color: #24a7ff;
    color: #fff!important;
}

/* intro-area css */
.intro-area {
    display: flex;
    justify-content: space-between;
    padding: 10vh 0;
}
.intro-content {
    width: 50%;
}
/* Quality area css */
.quality-area {
    display: flex;
    padding: 10vh 0;
}
.quality-content {
    width: 50%;
}
/* Technical Support Area CSS */
.technical-support-area {
    display: flex;
    padding: 10vh 0;
}
.technical-content {
    width: 50%;
}
.technical-img {
    width: 50%;
}

/* Services Area */
.services-area {
    padding: 10vh 0;
}
.services-title {
    display: flex;
    align-items: center;
}
.title-details {
    width: 50%;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}
.single-services-content {
    padding: 5vh 2vh;
}
.single-services-content img {
    width: 5rem;
}

/* Pricing Area CSS */
.pricing-area {
    background-color: #24a7ff;
    padding: 10vh 0;
}
.pricing-area h2 {
    text-align: center;
    color: #fff;
}
.pricing-table {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}
.single-pricing {
    background: #fff;
    border-radius: 10px;
    padding-bottom: 5vh;
    margin: 3vw;
}
.single-pricing .pricing-header {
    padding: 2vw;
}
.header-two {
    background-color: #424242;
    border-radius: 10px;
    color: #fff;
}
.header-two p {
    color: #fff;
}
.single-pricing .pricing-body,.pricing-footer{
    padding: 1vw 2vw;
}
.pricing-header h3 {
    margin: 0;
}
.pricing-body{
    padding: 3vh 0;
}
.pricing-body ul{
    list-style-type: none;
    padding: 0;
}
.pricing-body li {
    margin: 1vw 0;
    color: #1e1d1d;
    font-size: 1.3vw;
}
.pricing-body li i {
    margin: 0 1vw;
    color: #6EC72D;
}
.pricing-footer {
    text-align: center;
    padding: 2vh 0;
}
.pricing-footer h2 {
    margin: 0;
    color: #1e1d1d;
}
.pricing-footer button {
    background: transparent;
    padding: 1vw 3vw;
    border: 2px solid #24a7ff;
    border-radius: 10px;
    color: #24a7ff!important;
    font-weight: bold;
    margin-top: 0;
}
.pricing-footer button:hover {
    background-color: #24a7ff;
    color: #fff!important;
}
/* Customer Review Area CSS */
.customer-review-area {
    padding: 10vh 0;
}
.review-intro {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.reviews {
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.single-review {
    margin: 2vw;
    border: 2px solid rgb(222, 220, 220);
    padding: 2vw;
}
.review-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.review-user-info h3 {
    margin: 0;
}
.user-img img{
    border-radius: 50%;
}
/* call to action area CSS */
#coll-to-action-section {
    background-color: #24a7ff;
}
.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0;
}
.action-content {
    color: #fff;
    width: 50%;
}
.action-content p {
    color : #fff;
    line-height: 1.5;
}
.action-button button {
    background: transparent;
    border: 2px solid #fff;
    font-weight: bold;

}
.action-button button:hover {
    background-color: #fff;
    color: #24a7ff;
}
/* Footer Area CSS */
.footer-area {
    padding: 10vh 0 0 0;
    display: flex;
    justify-content: space-between;
}
.footer-area ul {
    list-style-type: none;
    padding: 0;
}
.footer-area ul li {
    margin: 1vw 0;
}
.footer-area li a {
    text-decoration: none;
    color: gray
}
.footer-area li a:hover {
    color: black;
}
.logo {
    width: 10rem;
}
.logo img {
    width: 9rem;
}
.social-media ul {
    justify-content: center;
    display: flex;
    gap: 1vw;
    margin: 0;
}
.social-media li a {
    font-size: 2rem;
}
.social-media ul .fb {
    color:  #4267B2;
}
.social-media ul .insta {
    color:  rgb(138, 58, 185);
}
.social-media ul .ytb {
    color:  #c4302b;
}
.social-media ul .lkdn {
    color:  #0072b1;
}
.social-media h3 {
    margin-bottom: 0;
}
.footer-end {
    text-align: center;
}
.footer-end span {
    color: crimson;
}

/* Responsive CSS */
@media (max-width: 992px){
    #welcome-section {
        padding: 2vh 0;
    }
    nav {
        flex-direction: column;
        padding: 2vh 0;
        text-align: center;
    }
    .logo-area img {
        margin-bottom: 3vw;
        width: 15vw;
    }
    #talk-btn {
        display: block;
        text-align: center;
        margin: 3vw auto !important;
    }
    .intro-area {
        flex-direction: column-reverse;
        text-align: center
    }
    .intro-content,.quality-content,.technical-content,.technical-img {
        width: 100%;
    }
    .quality-area {
        flex-direction: column;
    }
    .technical-support-area {
        flex-direction: column-reverse;
    }
    .services-content {
        grid-template-columns: repeat(2, 50%);
    }
    .title-details {
        width: 100%;
    }
    .pricing-table {
        grid-template-columns: repeat(2, 50%);
    }
    .call-to-action {
        flex-direction: column;
        text-align: center;
    }
    .action-content {
        width: 100%;
    }
    .footer-area {
        flex-direction: column;
        text-align: center;
    }
    .logo {
        width: 100%;
    }
    .footer-area ul li {
        display: inline-block;
    }
    .footer-area ul li a {
        margin: 1rem;
    }
}
@media (max-width: 768px){
    .services-content{
        grid-template-columns: repeat(1,100%);
        text-align: center;
    }
    .pricing-table {
        grid-template-columns: repeat(1, 100%);
    }
    .pricing-body li {
        font-size: .9rem;
    }
    .reviews {
        grid-template-columns: repeat(1, 100%);
    }
    .services-title {
        flex-direction: column;
    }
}


