/* font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* universal CSS */
body{
    margin: 0;
    padding: 0;
    font-family: Lato;
}
.container {
    width: 90%;
    margin: 0 auto;
}
button {
    background-color: #24a7ff;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    color : #fff;
    margin-top: 2vw;
    cursor: pointer;
}
button:hover {
    background-color: #fff;
    color: #24a7ff;
    border: 2px solid #24a7ff;
}

img {
    width: 90%;
}
p {
    color: gray;
}
h1 {
    font-size: 4vw;
}
h2 {
    font-size: 3vw;
}

/* nav area css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 0;
}
.logo-area img {
    width: 8vw;
}
.menu-area a {
    text-decoration: none;
    margin: 0 15px;
    color: gray;
}
.menu-area a:hover {
    color: black;
}
.register-btn {
    background: transparent;
    padding: 1vw 3vw;
    border: 2px solid #24a7ff;
    border-radius: 10px;
    color: #24a7ff!important;
    font-weight: bold;
}
.register-btn:hover {
    background-color: #24a7ff;
    color: #fff!important;
}

/* intro-area css */
.intro-area {
    display: flex;
    justify-content: space-between;
    padding: 10vh 0;
}
.intro-content {
    width: 50%;
}
/* Quality area css */
.quality-area {
    display: flex;
    padding: 10vh 0;
}
.quality-content {
    width: 50%;
}
.quality-content h2 {
    font-size: 3.5vw;
}
/* Technical Support Area CSS */
.technical-support-area {
    display: flex;
    padding: 10vh 0;
}
.technical-content {
    width: 50%;
}
.technical-img {
    width: 50%;
}
.technical-content h2 {
    font-size: 3.5vw;
}
/* Services Area */
.services-area {
    padding: 10vh 0;
}
.services-title {
    display: flex;
    align-items: center;
}
.title-details {
    width: 50%;
}
.services-title h2 {
    font-size: 3.5vw;
}
.services-content {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}
.single-services-content {
    padding: 5vh 2vh;
}
.single-services-content img {
    width: 5vw;
}

/* Pricing Area CSS */
.pricing-area {
    background-color: #24a7ff;
    padding: 10vh 0;
}
.pricing-area h2 {
    text-align: center;
    color: #fff;
}
.pricing-table {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}
.single-pricing {
    background: #fff;
    margin: 0 5vh; 
    border-radius: 10px;
    padding-bottom: 5vh;
}
.single-pricing .pricing-header {
    padding: 2vw;
}
.header-two {
    background-color: #424242;
    border-radius: 10px;
    color: #fff;
}
.header-two p {
    color: #fff;
}
.single-pricing .pricing-body,.pricing-footer{
    padding: 1vw 2vw;
}
.pricing-header h3 {
    font-size: 2vw;
    margin: 0;
}
.pricing-body{
    padding: 3vh 0;
}
.pricing-body ul{
    list-style-type: none;
    padding: 0;
}
.pricing-body li {
    margin: 1vw 0;
    color: #1e1d1d;
    font-size: 1.3vw;
}
.pricing-body li i {
    margin: 0 1vw;
    color: #6EC72D;
}
.pricing-footer {
    text-align: center;
    padding: 2vh 0;
}
.pricing-footer h2 {
    margin: 0;
    color: #1e1d1d;
}
.pricing-footer button {
    background: transparent;
    padding: 1vw 3vw;
    border: 2px solid #24a7ff;
    border-radius: 10px;
    color: #24a7ff!important;
    font-weight: bold;
    margin-top: 0;
}
.pricing-footer button:hover {
    background-color: #24a7ff;
    color: #fff!important;
}
/* Customer Review Area CSS */
.customer-review-area {
    padding: 10vh 0;
}
.review-intro {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.reviews {
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.single-review {
    margin: 2vw;
    border: 2px solid rgb(222, 220, 220);
    padding: 2vw;
}
.review-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.review-user-info h3 {
    margin: 0;
}
.user-img img{
    border-radius: 50%;
}
/* call to action area CSS */
#coll-to-action-section {
    background-color: #24a7ff;
}
.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0;
}
.action-content {
    color: #fff;
    width: 50%;
}
.action-content p {
    color : #fff;
    line-height: 1.5;
}
.action-button button {
    background: transparent;
    border: 2px solid #fff;
    font-weight: bold;

}
.action-button button:hover {
    background-color: #fff;
    color: #24a7ff;
}
/* Footer Area CSS */
.footer-area {
    padding: 10vh 0;
    display: flex;
    justify-content: space-between;
}
.footer-area ul {
    list-style-type: none;
    padding: 0;
}
.footer-area ul li {
    margin: 1vw 0;
}
.footer-area li a {
    text-decoration: none;
    color: gray
}
.footer-area li a:hover {
    color: black;
}
.logo {
    width: 30%;
}
.logo img {
    width: 35%;
}
.social-media ul {
    display: flex;
    font-size: 2vw;
    gap: 1vw;
}


